from pathlib import Path

BASE_DIR = Path(__file__).resolve().parent.parent

##  Authentication 
SECRET_KEY=""
ALGORITHM =""

##  AWS keys 
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_NAME=""
AWS_REGION=region


#gmail
EMAIL_USER=mail
EMAIL_PASSWORD=pass

SERVICE_ACCOUNT_FILE = BASE_DIR / ""
SCOPES = [""]

MONGO_URL=


# RESUME_API_KEY=""
# RESUME_API_KEY="p"


AFFINDA_API_KEY=""
AFFINDA_WORKSPACE_ID=""
AFFINDA_RESUME_DOCUMENT_TYPE_ID=""
AFFINDA_JOB_DESCRIPTION_DOCUMENT_TYPE_ID=""
AFFINDA_BASE_URL=